body{
    background-image: linear-gradient(#252531,#343445,#53536E);
}
body{
    color: grey;
}
.header-text{
    color: white;
    font-family: caveat;
    text-align: center;
    font-weight: 400;
    filter: drop-shadow(10px 10px 10px yellow );
}
.Insta-btn{
    align-content: center;
    float: center;
    margin-left: 38%;
    text-transform: capitalize;
    filter: drop-shadow(10px 4px 8px blue );
    width: 25%;
    height: 10%;
}
.Web-btn{
    align-content: center;
    float: center;
    margin-left: 38%;
    text-transform: capitalize;
    filter: drop-shadow(10px 4px 8px cyan );
    width: 25%;
    height: 10%;
}
.Git-btn{
    align-content: center;
    float: center;
    margin-left: 38%;
    text-transform: capitalize;
    filter: drop-shadow(10px 4px 8px lightgreen );
    width: 25%;
    height: 10%;
}